<div class="crew-information">
    <form action="">
        <div class="row form-section">
            <h3>Primary Details</h3>
            <div class="mb-3 col-md-6">
                <label for="" class="form-label">First Name</label>
                <input required type="text" class="form-control" id="" name="" value="{{ crew.firstName }}">
            </div>
            <div class="mb-3 col-md-6">
                <label for="" class="form-label">Last Name</label>
                <input required type="text" class="form-control" id="" name="" value="{{ crew.lastName }}">
            </div>
            <div class="mb-3 col-md-6">
                <label for="" class="form-label">Middle Name</label>
                <input required type="text" class="form-control" id="" name="" value="{{ crew.middleName }}">
            </div>
            <div class="mb-3 col-md-6">
                <label for="username" class="form-label">Suffix</label>
                <input required type="text" class="form-control" id="" name="" value="{{ crew.suffix }}">
            </div>
            <div class="mb-3 col-md-6">
                <label for="username" class="form-label">Gender</label>
                <input required type="text" class="form-control" id="" name="_username" value="{{ crew.gender }}">
            </div>
        </div>
        <div class="row form-section">
            <h3>Secondary Details</h3>
            <div class="mb-3 col-md-6">
                <label for="username" class="form-label">Nationality</label>
                <input required type="text" class="form-control" id="" name="" value="">
            </div>
            <div class="mb-3 col-md-6">
                <label for="username" class="form-label">Passport Number</label>
                <input required type="text" class="form-control" id="" name="" value="">
            </div>
            <div class="mb-3 col-md-6">
                <label for="username" class="form-label">Seaman Book Number</label>
                <input required type="text" class="form-control" id="" name="" value="">
            </div>
            <div class="mb-3 col-md-6">
                <label for="username" class="form-label">Company</label>
                <input required type="text" class="form-control" id="" name="" value="">
            </div>
            <div class="mb-3 col-md-6">
                <label for="username" class="form-label">Nationality</label>
                <input required type="text" class="form-control" id="" name="" value="">
            </div>
            <div class="mb-3 col-md-6">
                <label for="username" class="form-label">Nationality</label>
                <input required type="text" class="form-control" id="" name="" value="">
            </div>
            <div class="mb-3 col-md-6">
                <label for="username" class="form-label">Nationality</label>
                <input required type="text" class="form-control" id="" name="" value="">
            </div>
            <div class="mb-3 col-md-6">
                <label for="username" class="form-label">Nationality</label>
                <input required type="text" class="form-control" id="" name="" value="">
            </div>
            <div class="mb-3 col-md-6">
                <label for="username" class="form-label">Nationality</label>
                <input required type="text" class="form-control" id="" name="" value="">
            </div>
            <div class="mb-3 col-md-6">
                <label for="username" class="form-label">Nationality</label>
                <input required type="text" class="form-control" id="" name="" value="">
            </div>
    </div>
    <button type="submit" class="btn btn-primary btn-cta">Save Changes</button>
    </form>

</div>