{% extends 'base.html.twig' %}

{% block title %}Crew index{% endblock %}

{% block contents %}
    <h1>Crew index</h1>

    <a class="btn btn-dark" href="{{ path('crew_create') }}">Create new</a>
    <table class="table">
        <thead>
            <tr>
                <th>ID number</th>
                <th>Full Name</th>
                <th>Gender</th>
                <th>Birth date</th>
                <th>Phone No</th>
                <th>Email</th>
                <th>Position</th>
                <th>Company</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for crew in crews %}
            <tr>
                <td>{{ crew.idNumber }}</td>
                <td>
                    <a href="{{ path('crew_show', {'id': crew.id}) }}">
                        {{ crew.lastName }}, {{ crew.firstName }} {{ crew.middleName|first }}., {{ crew.suffix }}
                    </a>
                </td>
                <td>{{ crew.gender }}</td>
                <td>{{ crew.dateOfBirth ? crew.dateOfBirth|date('Y-m-d') : '' }}</td>
                <td>{{ crew.phoneNumber }}</td>
                <td>{{ crew.email }}</td>
                <td>{{ crew.position }}</td>
                <td>{{ crew.company }}</td>
                <td>
                    <a href="{{ path('crew_edit', {'id': crew.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="25">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div id="pagination-container">
        {{ knp_pagination_render(crews) }}
    </div>
{% endblock %}
