{% extends 'base.html.twig' %}

{% block title %}Crew{% endblock %}

{% block contents %}
    {# <h1>Crew</h1>

    <div>
        <a href="{{ path('crew_index') }}" class="btn btn-outline-primary">back to list</a>
        <a href="{{ path('crew_edit', {'id': crew.id}) }}" class="btn btn-secondary">edit</a>
        {{ include('crew/_delete_form.html.twig') }}
    </div>

    <table class="table">
        <tbody>
            <tr>
                <th>QRCode</th>
                <td>

                    <img src="{{ qr_code_data_uri(crew.id) }}" />


                    <div>
                        <a href="{{ qr_code_url(crew.idNumber, 'pdf') }}" download>DOWNLOAD PDF</a>
                    </div>
                    <div>
                        <a href="{{ qr_code_url(crew.idNumber) }}" download>DOWNLOAD IMAGE</a>
                    </div>
                </td>
            </tr>
            <tr>
                <th>Id_number</th>
                <td>{{ crew.idNumber }}</td>
            </tr>
            <tr>
                <th>Position</th>
                <td>{{ crew.position }}</td>
            </tr>
            <tr>
                <th>Ship</th>
                <td>{{ crew.ship }}</td>
            </tr>
            <tr>
                <th>Nationality</th>
                <td>{{ crew.nationality }}</td>
            </tr>
            <tr>
                <th>Passport_number</th>
                <td>{{ crew.passportNumber }}</td>
            </tr>
            <tr>
                <th>Seaman_book_number</th>
                <td>{{ crew.seamanBookNumber }}</td>
            </tr>
            <tr>
                <th>Company</th>
                <td>{{ crew.company }}</td>
            </tr>
            <tr>
                <th>First_name</th>
                <td>{{ crew.firstName }}</td>
            </tr>
            <tr>
                <th>Last_name</th>
                <td>{{ crew.lastName }}</td>
            </tr>
            <tr>
                <th>Middle_name</th>
                <td>{{ crew.middleName }}</td>
            </tr>
            <tr>
                <th>Suffix</th>
                <td>{{ crew.suffix }}</td>
            </tr>
            <tr>
                <th>Gender</th>
                <td>{{ crew.gender }}</td>
            </tr>
            <tr>
                <th>Date_of_birth</th>
                <td>{{ crew.dateOfBirth ? crew.dateOfBirth|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Location_of_birth</th>
                <td>{{ crew.locationOfBirth }}</td>
            </tr>
            <tr>
                <th>Phone_number</th>
                <td>{{ crew.phoneNumber }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ crew.email }}</td>
            </tr>
            <tr>
                <th>Civil_status</th>
                <td>{{ crew.civilStatus }}</td>
            </tr>
            <tr>
                <th>Picture</th>
                <td>{{ crew.picture }}</td>
            </tr>
            <tr>
                <th>Created_by</th>
                <td>{{ get_username(crew.createdBy) }}</td>
            </tr>
            <tr>
                <th>Updated_by</th>
                <td>{{ get_username(crew.updatedBy) }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ crew.createdAt ? crew.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Updated_at</th>
                <td>{{ crew.updatedAt ? crew.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table> #}

    <div class="crew">
        <div class="row">
            <div class="col-md-9 main-info">
                <div class="crew-heading">
                    <h1>{{ crew.lastName }}, {{ crew.firstName }} {{ crew.middleName }}</h1>
                </div>

                <div class="crew-tabs">

                    <ul class="nav nav-underline nav-fill" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                          <button class="nav-link active" id="crew-information-tab" data-bs-toggle="tab" data-bs-target="#crew-information-tab-pane" type="button" role="tab" aria-controls="crew-information-tab-pane" aria-selected="true">Crew Information</button>
                        </li>
                        <li class="nav-item" role="presentation">
                          <button class="nav-link" id="appointments-tab" data-bs-toggle="tab" data-bs-target="#appointments-tab-pane" type="button" role="tab" aria-controls="appointments-tab-panee" aria-selected="false">Appointments</button>
                        </li>
                        <li class="nav-item" role="presentation">
                          <button class="nav-link" id="exam-records-tab" data-bs-toggle="tab" data-bs-target="#exam-records-tab-pane" type="button" role="tab" aria-controls="exam-records-tab-pane" aria-selected="false">Exam Records</button>
                        </li>
                        <li class="nav-item" role="presentation">
                          <button class="nav-link" id="assess-notes-tab" data-bs-toggle="tab" data-bs-target="#assess-notes-tab-pane" type="button" role="tab" aria-controls="assess-notes-tab-pane" aria-selected="false">Assess Notes</button>
                        </li>
                      </ul>
                      <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="crew-information-tab-pane" role="tabpanel" aria-labelledby="crew-information-tab" tabindex="0">
                            {{ include('crew/crew_information.html.twig') }}
                        </div>
                        
                        <div class="tab-pane fade" id="appointments-tab-pane" role="tabpanel" aria-labelledby="appointments-tab" tabindex="0">
                            {{ include('crew/crew_appointments.html.twig') }}
                        </div>
                        
                        <div class="tab-pane fade" id="exam-records-tab-pane" role="tabpanel" aria-labelledby="exam-records-tab" tabindex="0">.3.</div>
                        
                        <div class="tab-pane fade" id="assess-notes-tab-pane" role="tabpanel" aria-labelledby="assess-notes-tab" tabindex="0">..4.</div>
                      </div>

                </div>

            </div>
            
            <div class="col-md-3 right-info-wrapper">
                <div class="right-info">
                    <div class="crew-avatar">
                        <img src="https://placehold.co/1000x1000" alt="" class="img-fluid"> 
                        <div class="dropdown ">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-three-dots"></i>
                            </button>
                            <ul class="dropdown-menu">
                              <li><a class="dropdown-item" href="#">Take A Photo</a></li>
                              <li><a class="dropdown-item" href="#">Upload</a></li>
                              <li><a class="dropdown-item" href="#">Delete Photo</a></li>
                            </ul>
                          </div>
                    </div>
                    <div class="d-flex justify-content-center align-items-center">
                        <div class="qr-data">
                            <img src="{{ qr_code_data_uri(crew.id) }}" class="img-fluid"/>
                        </div>
                        <div class="avatar-caption">
                            <a href="{{ qr_code_url(crew.idNumber, 'pdf') }}" download>DOWNLOAD PDF</a>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

{% endblock %}
