
<div class="widget">
    <div class="widget-wrapper">
        <div class="widget-heading">
            <h1>
                <i class="bi bi-clipboard d-inline-block pe-1"></i>Exams</h1>
            <span>
						{{ exams_ctr.completed }} of {{ exams_ctr.total }} completed
					</span>
        </div>
        <div class="widget-body">
            <ul class="list-group exams-list">
                {% for exam_name, exam in exams %}
                <li class="list-group-item d-flex justify-content-between align-items-center ">
                    <a href="{{ path('medical_history_exam', {'id': medicalHistory.id, 'exam': exam_name}) }}" class="{{ exam.status == 5 ? 'class="link-success"' : '' }}">
                        {{ exam_name | examNameToString }}{{ exam.status == 5 ? '<i class="bi bi-check2-all"></i>' : '' }}

                    </a>
                    {{ exam.status|medicalHistoryStatusToString }}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>