{% form_theme form_primary_details 'bootstrap_5_layout.html.twig' %}
{% form_theme form_contact_details 'bootstrap_5_layout.html.twig' %}


<div class="widget">
    <div class="widget-wrapper">
        <div class="widget-heading">
            <h1>Crew Information</h1>
        </div>
        <div class="widget-body">
            <div class="right-info-wrapper">
                <div class="right-info">
                    <div class="crew-information">

                        <div class="accordion accordion-flush" id="widgetBodyAccordion">
                            <div class="accordion-item form-section" {{ stimulus_controller('crew_edit') }}>
                                <h2 class="accordion-header d-flex justify-content-between">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                                            aria-controls="panelsStayOpen-collapseOne">
                                        Primary Details
                                    </button>
                                    <button class="btn btn-secondary btn-edit" {{ stimulus_target('crew_edit', 'editButton') }} {{ stimulus_action('crew_edit', 'formEditable') }}>
                                        <i class="bi bi-pencil-fill"></i></button>
                                </h2>
                                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                                    <div class="accordion-body row">
                                        {{ form_start(form_primary_details, {'attr': {
                                            'class': 'row',
                                            'data-crew-edit-target' : 'formGroup',
                                        }
                                        }) }}
                                        {% for field in form_primary_details.children %}
                                            {{ form_row(field) }}
                                        {% endfor %}
                                        <div {{ stimulus_target('crew_edit', 'updateButton') }} class="widget-button-wrapper d-flex justify-content-end d-none">
                                            <button class="btn btn-primary btn-cta shadow-sm ">{{ button_label|default('Update') }}</button>
                                        </div>
                                        {{ form_end(form_primary_details) }}
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item form-section" {{ stimulus_controller('crew_edit') }}>
                                <h2 class="accordion-header d-flex justify-content-between">
                                    <button class="accordion-button " type="button" data-bs-toggle="collapse"
                                            data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                                            aria-controls="panelsStayOpen-collapseTwo">
                                        Contact Details
                                    </button>
                                    <button class="btn btn-secondary btn-edit"  {{ stimulus_target('crew_edit', 'editButton') }} {{ stimulus_action('crew_edit', 'formEditable') }}>
                                        <i class="bi bi-pencil-fill"></i></button>
                                </h2>
                                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show">
                                    <div class="accordion-body row">
                                        {{ form_start(form_contact_details, {'attr': {
                                            'class': 'row',
                                            'data-crew-edit-target' : 'formGroup',
                                        }
                                        }) }}
                                        {% for field in form_contact_details.children %}
                                            {{ form_row(field) }}
                                        {% endfor %}
                                        <div {{ stimulus_target('crew_edit', 'updateButton') }}  class="widget-button-wrapper d-flex justify-content-end d-none">
                                            <button class="btn btn-primary btn-cta shadow-sm ">{{ button_label|default('Update') }}</button>
                                        </div>
                                        {{ form_end(form_contact_details) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>