<div class="widget">
    <div class="widget-wrapper">
        <div class="widget-heading">
            <h1>Active Appointments</h1>
        </div>
        <div class="widget-body">
            {% if activeAppointment is defined and activeAppointment|length > 0 %}
                <div class="table-responsive">
                    <table class="table table-hover table-bordered  align-middle">
                        <thead>
                        <tr>
                            <th scope="col">Appointment Date</th>
                            <th scope="col">Start Date</th>
                            <th scope="col">Confirmation</th>
                            <th scope="col">Status</th>
                            <th scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ activeAppointment.appointments.0.appointmentDate|date('Y-m-d') }}</td>
                                <td>{{ activeAppointment.appointments.0.createdAt|date('Y-m-d') }}</td>
                                <td>{{ activeAppointment.appointments.0.status|appointmentStatusToString }}</td>
                                <td>{{ activeAppointment.medicalHistory.0.status|medicalHistoryStatusToString }}</td>
                                <td><a href="{{ path('crew_medical_history', {'id': activeAppointment.id}) }}">View</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            {% else %}
                <span class="d-block text-center">No items to show</span>
            {% endif %}


        </div>
    </div>
</div>