{% form_theme form 'bootstrap_5_layout.html.twig' %}
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.10/index.global.min.js'></script>
<script>

    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
            timeZone: 'UTC',
            initialView: 'dayGridMonth',
            editable: true,
            selectable: true,

            events: [
                {
                    start: '2024-02-11',
                    end: '2024-02-17',
                    display: 'background',
                    color: '#ff9f89'
                },
                {
                    start: '2024-02-17',
                    end: '2024-02-21',
                    display: 'background',
                    color: '#ff9f89'
                },
                {
                    start: '2024-02-21',
                    end: '2024-03-01',
                    display: 'background',
                    color: '#ddffdb'
                },
            ]

        });

        calendar.render();
    });

</script>

<div class="widget-column col-md-7">

    <div class="widget" {{ stimulus_controller('appointment_crew') }}>
        <div class="widget-wrapper">
            <div class="widget-heading">
                <h1>Create Appointment</h1>
                <div class="widget-options">
{#                    <a class="text-secondary" data-bs-toggle="modal" data-bs-target="#bulkAppointment" href="#">Bulk Appointment</a>#}
                    <a class="text-secondary" href="{{ path('appointment_bulk_create') }}">Bulk Appointment</a>
                </div>
            </div>
            <div class="widget-body">
                {{ form_start(form) }}

                <div class="row">
                    {# <div class="col-md-12"> #}
                    {# <div class="error-message"> #}
                    {# <i class="bi bi-exclamation-triangle-fill"></i> Sample Error Message #}
                    {# </div> #}
                    {# </div> #}
                    <div class="col-md-6"> {{ form_row(form.appointmentDate) }}
                        {{ form_row(form.Crew.email,
                            {
                                attr : {
                                'data-action' : 'input->appointment-crew#findCrew',
                                'data-appointment-crew-target' : 'email',
                            }
                            }) }}
                        {{ form_row(form.Crew.passportNumber,
                            {
                                attr : {
                                'data-action' : 'input->appointment-crew#findCrew',
                                'data-appointment-crew-target' : 'passportNumber',
                            }
                            }) }}
                        {{ form_row(form.Crew.seamanBookNumber,
                            {
                                attr : {
                                'data-action' : 'input->appointment-crew#findCrew',
                                'data-appointment-crew-target' : 'seamanBookNumber',
                            }
                            }) }}
                        {{ form_row(form.Crew.firstName, { attr: stimulus_target('appointment_crew', 'firstName').toArray() }) }}
                        {{ form_row(form.Crew.middleName, { attr: stimulus_target('appointment_crew', 'middleName').toArray() }) }}
                        {{ form_row(form.Crew.lastName, { attr: stimulus_target('appointment_crew', 'lastName').toArray() }) }}
                        {{ form_row(form.Crew.suffix, { attr: stimulus_target('appointment_crew', 'suffix').toArray() }) }}
                        {{ form_row(form.Crew.phoneNumber, { attr: stimulus_target('appointment_crew', 'phoneNumber').toArray() }) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.Crew.civilStatus, { attr: stimulus_target('appointment_crew', 'civilStatus').toArray() }) }}
                        {{ form_row(form.Crew.gender, { attr: stimulus_target('appointment_crew', 'gender').toArray() }) }}
                        {{ form_row(form.Crew.address, { attr: stimulus_target('appointment_crew', 'address').toArray() }) }}
                        {{ form_row(form.Crew.dateOfBirth, { attr: stimulus_target('appointment_crew', 'dateOfBirth').toArray() }) }}
                        {{ form_row(form.Crew.locationOfBirth, { attr: stimulus_target('appointment_crew', 'locationOfBirth').toArray() }) }}
                        {{ form_row(form.Crew.company, { attr: stimulus_target('appointment_crew', 'company').toArray() }) }}
                        {{ form_row(form.Crew.ship, { attr: stimulus_target('appointment_crew', 'ship').toArray() }) }}
                        {{ form_row(form.Crew.position, { attr: stimulus_target('appointment_crew', 'position').toArray() }) }}
                        {{ form_row(form.Crew.nationality, { attr: stimulus_target('appointment_crew', 'nationality').toArray() }) }}
                    </div>
                    <div class="btn-wrapper d-flex justify-content-end">
                        <button class="btn btn-primary btn-cta">{{ button_label|default('Save Appointment') }}</button>
                    </div>
                </div>

                <div class="toast-container position-fixed top-0 end-0 p-3">
                    <div id="crewMatch" class="toast" role="alert" aria-live="assertive" aria-atomic="true"
                         data-bs-autohide="false">
                        <div class="toast-header">
                            <strong class="me-auto">Crew Match Found!</strong>
                            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                        </div>
                        <div class="toast-body">
                            <p id="toastContent"></p>
                            <button type="button" class="btn btn-primary btn-sm"
                                    data-bs-dismiss="toast" {{ stimulus_target('appointment_crew', 'autofill') }} {{ stimulus_action('appointment_crew', 'autofillFields') }}>
                                Autofill
                            </button>
                        </div>
                    </div>
                </div>

                {{ form_end(form) }}
            </div>
        </div>
    </div>

</div>

<div class="widget-column col-md-5">
    <div class="widget">
        <div class="widget-wrapper">
            <div class="widget-heading">
                <h1>Calendar View</h1>
            </div>
            <div class="widget-body">
                <div id='calendar'></div>
            </div>
        </div>
    </div>
</div>

