{% form_theme dateRangeForm 'bootstrap_5_layout.html.twig' %}

{% set dateFilters = ['today', 'tomorrow', 'next-week', 'overdue'] %}
{% set dateFilter = app.request.attributes.get('dateFilter')|default('today') %}
{% set search = app.request.attributes.get('search') %}

<div class="table-controls d-flex  justify-content-end align-items-center">
    <div class="table-filter">
        <ul>
            {% for filter in dateFilters %}
                <li class="{{ dateFilter == filter ? 'active' : '' }}">
                    <a href="{{ path('appointment_main', {'dateFilter': filter}) }}">{{ filter|capitalize }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>

</div>

<div class="mb-3" {{ stimulus_controller('appointment_search_view') }}>

    <div class="d-flex justify-content-end align-items-center g-1">
        <a href="javascript:void(0);" {{ stimulus_action('appointment_search_view', 'toggleSearchBox') }}> search options▼ </a>
    </div>
    <div class="d-none" {{ stimulus_target('appointment_search_view', 'searchBox') }} >
        {{ form_start(dateRangeForm) }}
        <div class="d-flex justify-content-center align-items-center">
            {{ form_row(dateRangeForm.search) }}
            {{ form_row(dateRangeForm.startDate) }}
            {{ form_row(dateRangeForm.endDate) }}
            <button class="btn btn-primary">{{ button_label|default('Search') }}</button>
        </div>

        {{ form_end(dateRangeForm) }}

    </div>
</div>