{{ include('appointment/_form_search.html.twig') }}

<table class="table table-hover table-bordered">
    <thead>
    <tr>
        <th scope="col">Appointment Date</th>
        <th scope="col">Full Name</th>
        <th scope="col">Company</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">Status</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>

    {% for appointment in appointment_lists %}
        <tr>
            <td>{{ appointment.appointmentDate |date('Y-m-d') }}</td>
            <td>
                <a href="{{ path('crew_show', {'id': appointment.crew.id}) }}" class="appointment-edit">
                    {{ appointment.crew.lastName }}, {{ appointment.crew.firstName }} {{ appointment.crew.middleName|first }}., {{ appointment.crew.suffix }}
                </a>
            </td>
            <td>{{ appointment.crew.company }}</td>
            <td>{{ appointment.crew.email }}</td>
            <td>{{ appointment.crew.phoneNumber }}</td>
            <td>{{ appointment.status | appointmentStatusToString }}</td>
            <td>
                {% if appointment.appointmentDate|date('Y-m-d') == "now"|date('Y-m-d') %}
                    <a class="btn btn-primary btn-cta" href="{{ path('crew_register_appointment', {'id': appointment.crew.id}) }}">Check-in</a>
                {% endif %}
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="7">no records found</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{{ knp_pagination_render(appointment_lists) }}