{% form_theme form 'templates/theme/form/custom_form_theme.html.twig' %}
<div class="widget" {{ stimulus_controller('exam_blood_chemistry') }}>
    <div class="widget-wrapper">
        <div class="widget-heading">
            <div class="appointment-info">
                <h1>Results</h1>
            </div>
        </div>
        <div class="widget-body">
            <div class="exam-wrapper row">


                {{ form_start(form) }}
                 <div class="col-md-12">
                     <div {{ stimulus_target('exam_blood_chemistry','result') }}>

                     </div>
                 </div>
   
                <div class="row">
                    <div class="mb-3 col-md-6">
                        <label for="exam_blood_chemistry_glucose" class="form-label required">Sample Error</label>
                        <div class="input-group">
                            <input type="text" class="form-control is-invalid">
                            <span class="input-group-text ">mg/dL</span>
                            <div id="validationServerUsernameFeedback" class="invalid-feedback">
                                Abnormal
                              </div>
                        </div>
                     </div>
                    {{ form_row(form.glucose,
                        {
                            attr : {
                            'data-action' : 'input->exam-blood-chemistry#alertGlucose',
                            'data-exam-blood-chemistry-target' : 'glucoseField',
                            },
                            row_attr : {
                                'class' : 'mb-3 col-md-6'
                            },
                            append : 'mg/dL'
                        })
                    }}
                    {{ form_row(form.bun,
                        {
                            append : 'mg/dL'
                        })
                    }}
                    {{ form_row(form.creatinine,
                        {
                            append : 'mg/dL'
                        })
                    }}
                    {{ form_row(form.totalBilirubin,
                        {
                            append : 'mg/dL'
                        })
                    }}
                    {{ form_row(form.alt,
                        {
                            append : 'U/L'
                        })
                    }}
                    {{ form_row(form.ast,
                        {
                            append : 'U/L'
                        })
                    }}
                    {{ form_row(form.totalCholesterol,
                        {
                            append : 'mg/dL'
                        })
                    }}
                    {{ form_row(form.triglycerides,
                        {
                            append : 'mg/dL'
                        })
                    }}
                </div>
                    <button class="btn btn-dark">{{ button_label|default('Save') }}</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>