{% form_theme form 'bootstrap_5_layout.html.twig' %}
<div class="widget">
    <div class="widget-wrapper">
        <div class="widget-heading assessment-heading">
            <div class="assessment-info">
                <h1>Results</h1>
            </div>
            <small>Status last updated: 2024-03-15</small>
            {# <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Medical - {{ medicalHistory.startDate | date('Y-m-d') }}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ exam }}</li>
                    <li class="breadcrumb-item active" aria-current="page">Assessment</li>
                </ol>
            </nav> #}
        </div>
        <div class="widget-body">
            <div class="exam-wrapper row">
                {{ form_start(form) }}
                {{ form_widget(form, {'attr': {'class': 'row'}}) }}
                <button class="btn btn-primary btn-cta">{{ button_label|default('Update') }}</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>